			<h1>Shopping Bag</h1>

{% if cart.item_count > 0 %}
			<form action="/cart" method="post">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-margin-padding">
					<table class="shopping-bag-table">
						<thead>
							<tr>
								<th class="item">Item</th>
								<th class="price">Price</th>
								<th class="quantity">Quantity</th>
								<th class="total">Total</th>
								<th class="delete">&nbsp;</th>
							</tr>
						</thead>


						<tbody>
{% for item in cart.items %}    
	{% comment %}Determining the handle of the collection that was last seen for the 'continue shopping' link.{% endcomment %}
	{% assign collection_url = item.product.collections.last.url %}
	{% if collection_url == '/collections/frontpage' or collection_url == blank %}
		{% assign collection_url = '/collections/all' %}
	{% endif %}
	{% if forloop.first %}
		{% assign continue_shopping_url = collection_url %}
	{% endif %}
							<tr>
								<td class="item"><a href="{{ collection_url }}{{ item.url }}"><img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}"></a></td>
								<td class="price">{{ item.price | money }}</td>
								<td class="quantity"><input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}"></td>
								<td class="total">{{ item.line_price | money }}</td>
								<td class="delete"><a href="/cart/change?line={{ forloop.index }}&quantity=0"><span class="glyphicon glyphicon-minus-sign hover-animation"></span></a></td>
							</tr>
{% endfor %}
						</tbody>
					</table>
				</div>



				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
{% comment %} For the checkout and update buttons to work, they need to use a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive. {% endcomment %}
					<div>
						<h4 class="gamma">Subtotal</h4>
						<h3>{{ cart.total_price | money }}</h3>
						<a href="{{ continue_shopping_url }}" id="continue-shopping" class="hover-animation" onClick="_gaq.push(['_trackEvent', 'Shopping bag', 'Continue shopping', 'Continue shopping']);">Continue shopping</a>
						<input type="submit" name="update" value="Update cart" id="update" class="hover-animation" onClick="_gaq.push(['_trackEvent', 'Shopping bag', 'Update shopping bag', 'Update shopping bag']);">
						<input type="submit" name="checkout" value="Check out" id="checkout" class="hover-animation" onClick="_gaq.push(['_trackEvent', 'Shopping bag', 'Check out', 'Check out']);">    
						{% comment %}Paypal and Google checkout buttons{% endcomment %}
						{% if additional_checkout_buttons %}
						<p class="additional-checkout-buttons">
						{{ content_for_additional_checkout_buttons }}
						</p>
						{% endif %}
					</div>


{% comment %} For the special instructions to be submitted with order, we need to use a name attribute set to 'note'. {% endcomment %}
					<div id="instructions">
						<h4>Special instructions</h4>
						<textarea name="note">{{ cart.note }}</textarea>
					</div>
				</div>
			</form>
{% else %}
			<div id="empty-message">
				<p>It appears that your cart is currently empty. You can continue browsing <a href="/collections/all">here</a>.</p>
			</div>
{% endif %}